body {
    margin: 0;
}
h1 {
    color: white;
}

p {
    color: white;
}

nav {
    background-color: #003f88;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > section {
    margin: 0.1rem
}