body {
    margin: 0;
    display: grid;
    gap: 50px;
    background-color: aliceblue;
    grid-template: auto 1fr / 1fr 1fr;
}

nav {
    grid-column: span 2;
    grid-row: 1;
    background-color: #003f88;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > div > p, nav > div > a, nav > div > h1{
    margin: 0.1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    color: white;
}

nav > div > img {
    width: 10px;
}

article {
    margin: 10px;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 1px 1px 10px grey;
}

article > h2 {
    color: #003f88;
}

article > img {
    width: 100%;
}

.blaa-liste {
    color: white;
    list-style-type: none;
    padding-left: 0;
    margin: .3rem;
}

.blaa-liste > li {
    margin: .3rem;
    padding: .3rem;
    background-color: #003f88;
    border-radius: 3px;
}
